#heading{
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo{
    width: 150px;
}



.nav-items > ul{
    font-size: 18px;
    display: flex;
    
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.navLinks{
    text-decoration: none;
    color: black;
}

.res-card{
    width: 200px;
    height: 450px;
    padding: 5px;
    color: black;
    
    
}

.res-card:hover{
    border: 1px dotted black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-pic{
    width: 190px;
    height: 150px;
}


.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    display: flex;
}

.restaurant-links{
    text-decoration: none;
}

.offline-img {
    width: 70%;
    height: auto;
    
}

.hidden{
    display: none;
}

.display{
    display: flex;
}

.offline-comp{
    display: flex;
  flex-direction: column;
  align-items: center;      /* centers children horizontally */
  justify-content: center;  /* centers children vertically */
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}